@use '../_shared/colors' as *;

.footer-container {
  background-color: $brown;
  padding-top: 2.5rem;
  padding-bottom: 20rem;
  text-align: center;
}

.footer-links {
  flex-shrink: 1;
  border-style: solid;
  border-radius: 0.75rem;
  border-width: 0.1rem;
  border-color: $white;
  padding: 0.5rem;
  transition: all 0.3s ease;
  &:hover, &:active {
    user-select: none;
    background-color: $black;
    cursor:pointer;
  }
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer-title {
  color: $white;
  text-align: center;
  font-size: 2rem;
}

.footer-buy-xing-button-container {
  margin-top: 5rem;
}

.footer-buy-xing-button {
  color: $black;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  border-style: solid;
  border-radius: 0.75rem;
  border-width: 0.1rem;
  border-color: $white;
  background-color: $white;
  transition: all 0.3s ease;
  &:hover, &:active {
    user-select: none;
    color: $white;
    background-color: $black;
  }
}
