@use '../_shared/colors' as *;

.footer-container {
  background-color: $brown;
  padding-top: 2.5rem;
  text-align: center;
}

.footer-links {
  flex-shrink: 1;
  border-style: solid;
  border-radius: 0.75rem;
  border-width: 0.1rem;
  border-color: $white;
  padding: 0.5rem;
  transition: all 0.3s ease;
  &:hover, &:active {
    box-shadow: 0 0 5px $white;
    user-select: none;
    background-color: $black;
    cursor:pointer;
  }
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.footer-title {
  color: $white;
  text-align: center;
  font-size: 2rem;
}

.footer-buy-xing-button-container {
  margin-top: 5rem;
}

.footer-buy-xing-button {
  color: $black;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  border-style: solid;
  border-radius: 0.75rem;
  border-width: 0.1rem;
  border-color: $white;
  background-color: $white;
  transition: all 0.3s ease;
  &:hover, &:active {
    box-shadow: 0 0 5px $white;
    user-select: none;
    color: $white;
    background-color: $black;
  }
}

.footer-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  color: $white;
  font-size: 0.75rem;
  a {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    padding: 0.25rem 0.25rem;
    background-color: $white;
    color: $black;
    border-width: 0.1rem;
    border-color: $white;
    border-radius: 0.75rem;
    transition: all 0.3s ease;
    margin: 0.1rem 0.3rem;
    &:hover, &:active {
      box-shadow: 0 0 5px $white;
      background-color: $black;
      color: $white;
    }
  }
}
@media (max-width: 768px) {
  .footer-information-container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
