@import '../_shared/colors';

.footer-container {
  background-color: $black;
  padding-top: 2.5rem;
  padding-bottom: 20rem;
  text-align: center;
}

.footer-title {
  color: $white;
  text-align: center;
  font-size: 2rem;
}

.footer-buy-xing-button-container {
  margin-top: 5rem;
}

.footer-buy-xing-button {
  color: $white;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  border-style: solid;
  border-radius: 0.75rem;
  border-width: 0.1rem;
  background-color: $black;
  transition: all 0.3s ease;
  &:hover {
    color: $black;
    background-color: $white;
  }
}
