@use 'footer';
@use 'navigation';
@use '../_shared/colors' as *;

p, h1, h3, a, label {
  font-family: DynaPuff,system-ui;
}

main {
  margin-left: 10rem;
  margin-right: 10rem;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  iframe {
    width: 300px;
    height: 300px;
  }
}

.title {
  text-align: center;
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
  color: $brown;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../../fonts/DynaPuff-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../../fonts/DynaPuff-Bold.ttf') format('truetype');
}
