@use 'footer';
@use 'navigation';
@use '../_shared/colors' as *;

p, h1, h3, a, label {
  font-family: DynaPuff,system-ui;
}

main {
  margin-left: 10rem;
  margin-right: 10rem;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  iframe {
    width: 300px;
    height: 300px;
  }
}

.title {
  text-align: center;
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
  color: $brown;
}

input {
  padding: 12px 20px;
  font-size: 1rem;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: var(--accent);
  border-radius: calc(var(--border-radius) * 1px);
  text-align: center;
  outline: transparent;
  transition: border-color calc(var(--transition, 0.2) * 1s) ease;
  width: auto;
  &:valid {
    --accent: hsl(41, 44%, 67%);
  }
  &:invalid {
    --accent: hsl(346, 100%, 42%);
  }
  &:placeholder-shown {
    --accent: hsl(0, 0%, 100%);
  }
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../../fonts/DynaPuff-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../../fonts/DynaPuff-Bold.ttf') format('truetype');
}
