@use 'footer';
@use 'navigation';
@use '../_shared/colors' as *;

p, h1, h3, a, label, li {
  font-family: DynaPuff,system-ui;
}

body {
  margin: 0;
  background-color: lighten($brown, 30);
}

main {
  margin-left: 10rem;
  margin-right: 10rem;
  @media (max-width: 768px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  iframe {
    width: 300px;
    height: 300px;
  }
}

.title {
  text-align: center;
  font-size: 4rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .description {
    font-size: 0.75rem;
  }
}

.description {
  font-size: 1.5rem;
  color: $brown;
}

.description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: $brown;
  font-size: 1.5rem;
  border-bottom-style: solid;
  border-radius: 0.75rem;
  border-width: 0.3rem;
  border-color: $black;
  color: $white;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px $brown;
  @media (max-width: 768px) {
    img {
      width: 300px;
      height: 300px;
    }
  }
}

.container-left-hidden {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.container-bottom-hidden {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.container-show {
  opacity: 1;
  transform: translateY(0);
}

input[type="text"], input[type="number"]  {
  border: 3px solid $brown;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: $black;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px 0 12px;
  transition: all 0.3s ease;
  &:focus{
    box-shadow: 0 0 5px $jungleGreen;
    border: 3px solid $jungleGreen;
    outline: none;
  }
}

input[type="color"]  {
  border: 3px solid $brown;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: $black;
  width: 100%;
  user-select: auto;
  background-color: $white;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover, &:active{
    box-shadow: 0 0 5px $jungleGreen;
    border-color: $jungleGreen;
    outline: none;
    background-color: darken($white, 15);
  }
}

.hidden {
  display: none;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../../fonts/DynaPuff-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('../../fonts/DynaPuff-Bold.ttf') format('truetype');
  font-weight: bold;
}
