@use '../_shared/colors' as *;

.new-meme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  cursor: pointer;
  background-color: $brown;
  color: $white;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  &:hover {
    background-color: $jungleGreen;
  }
}

.new-meme-button-container {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
}

.new-meme-canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray;
  margin-bottom: 5rem;
  border-style: solid;
  border-color: $black;
}
