{% extends 'base.html.twig' %}

{% block header %}
    <title>Impressum | $XING Meme Tool</title>
{% endblock %}

{% block content %}
    <div class="description-container">
        <h1>Impressum</h1>
        <h1>Contact</h1>
        <p>Phone: +491781588616</p>
        <p>Email: xingxingmemes@gmail.com</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
