{% extends 'base.html.twig' %}

{% block header %}
    <title>Impressum | $XING Meme Tool</title>
{% endblock %}

{% block content %}
    <div class="description-container">
        <h1>Impressum</h1>
        <p>Aria Gholami</p>
        <h1>Kontakt</h1>
        <p>Telefon: +491781588616</p>
        <p>E-Mail: xingxingmemes@gmail.com</p>
        <h1>Redaktionell verantwortlich</h1>
        <p>Aria Gholami</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
