@import '../_shared/colors';

.home-title-container {
  margin: 0.1rem 10rem;
}

.home-title {
  text-align: center;
  font-size: 5rem;
}

.home-description {
  text-align: center;
  font-size: 2rem;
  color: $gray;
}
