<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="var/cache/.phpunit.cache"
         executionOrder="random"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="test"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DATABASE_URL" value="mysql://root:root@db:3306/db"/>
        <env name="LOG_LEVEL" value="100"/>
    </php>

    <testsuites>
        <testsuite name="Acceptance-Tests">
            <directory>tests/Acceptance</directory>
        </testsuite>
        <testsuite name="Unit-Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Kernel.php</file>
        </exclude>
    </source>
</phpunit>
