{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('xing-address') }}
{% endblock %}

{% block content %}
    <div>
        <h1 class="title">{{ content.title }}</h1>
        <div class="description-container">{{ content.description|raw }}</div>
    </div>

    {% include 'includes/blocks.html.twig' with { xing: xing } %}
{% endblock %}
