{% extends 'base.html.twig' %}

{% block content %}
    <div class="home-title-container">
        <h1 class="home-title">{{ 'xing_information.title'|trans }}</h1>
        <p class="home-description">{{ 'xing_information.description'|trans }}</p>
    </div>

    {% include 'includes/blocks.html.twig' with { xing: xing } %}
{% endblock %}
