{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <h1 class="title">{{ content.title }}</h1>
        <div class="xing_information-description-container">{{ content.description|raw }}</div>
    </div>

    {% include 'includes/blocks.html.twig' with { xing: xing } %}
{% endblock %}
