{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <h1 class="home-title">{{ 'meme_generator.title'|trans }}</h1>
        <p class="home-description">{{ 'meme_generator.description'|trans }}</p>
    </div>

    {% include 'includes/blocks.html.twig' %}
{% endblock %}
