{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('meme-generator-infinite-scrolling') }}
{% endblock %}


{% block content %}
    <div>
        <h1 class="title">{{ 'meme_generator.title'|trans }}</h1>
        <p class="description">{{ 'meme_generator.description'|trans }}</p>
    </div>

    {% include 'includes/blocks.html.twig' %}
{% endblock %}
