{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('meme-generator-infinite-scrolling') }}
{% endblock %}


{% block content %}
    <div>
        <h1 class="title">{{ content.title }}</h1>
        <div class="description">{{ content.description|raw }}</div>
    </div>

    {% include 'includes/blocks.html.twig' %}
{% endblock %}
