@use '../../_shared/colors' as *;

.xing-media-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.xing-image-container {
  border-color: $brown;
  border-style: dashed;
  border-radius: 0.75rem;
  border-width: 0.2rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    img {
      width: 100px;
      height: 100px;
    }
  }
}
