@use '../../_shared/colors.scss' as *;

.xing_address-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem;
  background-color: $brown;
  border-bottom-style: solid;
  border-radius: 0.75rem;
  border-width: 0.3rem;
  border-color: $black;
  margin-bottom: 4rem;
  gap: 1rem;
  div {
    display: flex;
    flex: 1;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-style: solid;
    border-radius: 0.75rem;
    border-width: 0.3rem;
    border-color: $black;
    overflow: hidden;
    background-color: lighten($brown, 10%);
    color: darken($jungleGreen, 10%);
    transition: all 0.3s ease;
    :hover {
      background-color: darken($brown, 10%);
    }
    a {
      padding: 1rem 1rem;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      transition: all 0.3s ease;
      :hover {
        background-color: darken($brown, 10%);
      }
    }
  }
  p {
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $white;
  }
}
