<div class="xing-media-filter-button-container">
    <a id="xing-media-gifs-filter-button" class="xing-media-filter-button-disabled">{{ 'xing_media.gifs-button.text'|trans }}</a>
    <a id="xing-media-images-filter-button" class="xing-media-filter-button-disabled">{{ 'xing_media.images-button.text'|trans }}</a>
</div>
<div class="xing-media-container container-left-hidden">
    <div class="lds-dual-ring"></div>
</div>
