<div class="xing-media-container">
    {% set mediaCounter = 1 %}
    {% for media in content['media'] %}
        {% set image %}
            <div class="xing-image-container">
                {{ get_image(media|default, 'sulu-200x200') }}
            </div>
        {% endset %}

        {{ image }}
        {% set mediaCounter = mediaCounter + 1 %}
    {% endfor %}
</div>
