<div class="xing-media-filter-button-container">
    <a id="xing-media-meme-image-filter-button" class="xing-media-filter-button-disabled">{{ 'xing_media.meme-image-button.text'|trans }}</a>
    <a id="xing-media-meme-template-filter-button" class="xing-media-filter-button-disabled">{{ 'xing_media.meme-template-button.text'|trans }}</a>
</div>
<div class="xing-media-container container-left-hidden">
    <div class="lds-dual-ring"></div>
</div>
