{% extends 'base.html.twig' %}

{% block header %}
    <title>Error | $XING Meme Tool</title>
{% endblock %}

{% block content %}
    <div class="description-container error-text-container">
        <h1>{{ status_code }} - {{ status_text }}</h1>
        <p>{{ 'page.error.description'|trans }}</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
