{
  frankenphp {
    php_ini {
      opcache.memory_consumption 128
      opcache.interned_strings_buffer 8
      opcache.max_accelerated_files 4000
      opcache.revalidate_freq 60
      opcache.enable_cli 1
    }
  }
}

:80 {
  try_files {path} index.php
  root /var/www/html
  php_server
  basicauth /* {
    xing $2a$14$n9xCgv.3SKGg36P6KqZWneA4BkrkUfdS3APxzR0aM4ktA6Po.uLiG
  }
  header {
    Access-Control-Allow-Origin http://92.60.39.183/
    Access-Control-Allow-Credentials true
    Access-Control-Allow-Methods POST, GET
    -X-Powered-By
    -Server
  }
  log {
    output file /var/log/caddy/access.log {
        roll_size 1gb
        roll_keep 10
        roll_keep_for 168h
    }
  }
}
