{
  frankenphp {
    php_ini {
      opcache.memory_consumption 128
      opcache.interned_strings_buffer 8
      opcache.max_accelerated_files 4000
      opcache.revalidate_freq 60
      opcache.enable_cli 1
      upload_max_filesize 50M
      post_max_size 50M
    }
  }
}

:80 {
  try_files {path} index.php
  root /var/www/xing-meme-tool/current/public
  php_server

  @protected not path /build/* /admin/api/*
  basicauth @protected {
    xing $2a$14$n9xCgv.3SKGg36P6KqZWneA4BkrkUfdS3APxzR0aM4ktA6Po.uLiG
  }

  header {
    Access-Control-Allow-Origin http://188.68.35.42/
    Access-Control-Allow-Credentials true
    Access-Control-Allow-Methods POST, GET
    Access-Control-Allow-Headers Content-Type, Authorization
    Access-Control-Max-Age: 100
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy: microphone=(), camera=(), geolocation=()
    X-XSS-Protection: true
    X-Frame-Options SAMEORIGIN
    X-Content-Type-Options: nosniff
    -X-Powered-By
    -Server
  }
  log {
    output file /var/log/caddy/access.log {
        roll_size 1gb
        roll_keep 10
        roll_keep_for 168h
    }
  }
}
