@use '../../_shared/colors' as *;

.xing_information-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

.xing_information-inner-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  background-color: $brown;
  border-bottom-style: solid;
  border-radius: 0.75rem;
  border-width: 0.3rem;
  box-shadow: 0 0 5px $brown;
  @media (max-width: 768px) {
    img {
      width: 300px;
      height: 300px;
    }
  }
}

.xing_information-left-container-market-cap-info-text {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  color: $white;
}

.xing_information-left-container-market-cap-text {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  color: $gray;
}

.xing_information-right-container-price-change-positive-text {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  color: $jungleGreen;
}

.xing_information-right-container-price-change-negative-text {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  color: $red;
}


.xing_information-description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: $brown;
  font-size: 1.5rem;
  border-bottom-style: solid;
  border-radius: 0.75rem;
  border-width: 0.3rem;
  border-color: $black;
  color: $white;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px $brown;
  @media (max-width: 768px) {
    img {
      width: 300px;
      height: 300px;
    }
  }
}
